@page "/"


@inject NavigationManager NavigationManager

<button @onclick="NavigateToHtmlPage">Go to Webcam Page</button>

@code {
    void NavigateToHtmlPage()
    {
        NavigationManager.NavigateTo("webcam.html");
    }
}
